@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:wght@600&display=swap');

body {
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 16px;
}

header {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #232F3E;
    color: white;
}

header section{
    display: none;
    font-size: .5rem;
    grid-row: 1;
    grid-column: 1/4;
    background-color: #A9B4C2;
    color: black;
    width: 100%;
    padding: .5rem;
}

header section h2{
    margin: 0;
    align-self: center;
}

header section button{
    background-color: transparent;
    border: none;
    display: inline;
}

header nav {
    grid-row: 2/5;
    grid-column: 1/4;
    justify-self: end;
    width: 70%;
    height: 15%;
    display: grid;
    z-index: 10;
}


nav button img {
    width: 3rem;
    margin: 0;
}

header nav button {
    justify-self: end;
    background-color: white;
    border: none;
    border-bottom-left-radius: 10px;
}

header nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
}



header nav ul li {
    list-style: none;
    text-align: center;
}



header nav ul li a {
    display: block;
    padding: .4rem;
    background-color: white;
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header nav ul li a:hover {
    background-color: rgb(3, 202, 209);
}

.show {
    display: block;
}

.blur-efect {
    filter: blur(8px);
}

.hide, .spotlight3, .joint-section {
    display: none;
}

header img {
    width: 60%;
    grid-row: 2;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
}

header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    grid-row: 3;
    grid-column: 1/4;
    justify-self: center;
}

header time {
    grid-row: 4;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    border: solid 3px white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 12rem);
    justify-items: center;
    row-gap: 1.5rem;
}

main section, main div {
    width: 90%;
    text-align: center;
    background-color: rgb(231, 230, 230);
}

.action-sec {
    margin-top: 1.5rem;
    position: relative;
    box-shadow: 7px 7px rgb(231, 230, 230);
}

.action-sec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-sec h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    position: absolute;
    top: 1%;
    left: 5%;
}

.action-sec a{
    position: absolute;
    bottom: 8%;
    right: 10%;
    color: black;
    background-color: white;
    padding: .5rem;
    width: 35%;
    border-radius: 5px;
    border: solid 2px black;
    text-decoration: none;
}

.action-sec a:hover{
    background-color: rgb(3, 202, 209);
}

.event-sec{
    background-color: #6cae75;
}

.event-sec p {
    margin: 0;
}

.weather-sec{
    position: relative;
    background-color: black;
    color: White;
}

.weather-sec img{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 20%;
}

.weather-sec h3{
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 10%;
}

.weather-sec p{
    position: absolute;
    right: 30%;
    bottom: 10%;
}

.news-sec{
    background-color: #6cae75;
}

main div{
    margin-bottom: 1.5rem;
    grid-row: 5/8;
    display: grid;
    justify-items: center;
}   

.spotlight1, .spotlight2, .spotlight3{
    background: radial-gradient(#0b7189 34%, #3a7d44 100%);
}

.spotlight1{
    margin-top: 24px;
}

.spotlight1 img{
    width: 35%;
    border-radius: 5px;
}

.spotlight2{
    border-top: solid 1px rgb(231, 230, 230);
    margin-bottom: 24px;
}

.spotlight2 img{
    width: 15rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    padding: 1rem;
    background-color: #232F3E;
    color: white;
}

footer div:nth-child(1) {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

footer div img {
    width: 20%;
}

footer div a {
    color: white;
    text-decoration: none;
}

footer div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}