@media only screen and (min-width: 32.5em){


    header img {
        width: 50%;
        grid-row: 2/4;
        grid-column: 1/2;
    }
    
    header h1{
        font-size: 2rem;
    }


    header nav ul li a {
        background-color: white;
        color: black;
    }

    header nav ul li a:hover {
        color: #232F3E;
        background-color: rgb(3, 202, 209);
    }

    main {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 12rem);
    }

    main section:nth-child(1){
        grid-column: 1/2;
    }

    main section:nth-child(2){
        grid-column: 2/3;
        margin-top: 25px;
    }


    main section, main div{
        grid-column: 1/3;
    }

    main div{
        grid-row: 4;
        display: flex;    
    } 

    .spotlight1{
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .spotlight2{
        margin-bottom: 25px;
        margin-right: 25px;
    }
    
}
