main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    text-align: center;
    border-collapse: collapse;
    font-family: sans-serif;
    border: solid 1px black;
    width: 70%;
    caption-side: bottom;
}

caption{
    padding: 1rem;
}

thead tr th:nth-child(1){
    background-color: #475841;
    color: #fff;
}

table tbody th, td, thead tr th:not(:nth-child(1):nth-child(-n+1)){
    border: solid 1px black;
}

thead tr th:not(:nth-child(1):nth-child(-n+1)){
    background-color: #E6E8E6;
}

th, td{
    padding: 1rem;
}

table tbody tr:nth-child(2){
    background-color: #E6E8E6;
}