@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rajdhani&display=swap');

body{
    text-align: left;
    max-width: 40%;
    margin: auto;
    margin-top:5%;
    font-family: 'Rajdhani', sans-serif;
}

h1, h2{
    font-family: 'Lato', sans-serif;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    align-items: center;
    background-color: #0a2342;
    color: white;
    border-radius: 10px;
}

.my-name{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    font-size: 1em;
}

.main-photo{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60px;
    justify-self: center;
    padding-top: 1em;
}

.sub-title{
    border-bottom: solid 1px black;
    font-size: 0.9em;
}

ul{
    padding: 0;
}

ul li{
    margin: 8px;
}

.paragraph{
    border-top: solid 1px black;
}

.home-footer{
    padding-top: 2%;
    text-align: center;
    background-color: #0a2342;
    color: white;
    border-radius: 10px;
    height: 75px;
}

.update{
    margin: 0%;
    color: white;
    animation-name:color-effect;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes color-effect{
    from{color: black;}
    to{color: white;}
  }
