body{
    text-align: left;
    max-width: 30%;
    margin: auto;
    margin-top:5%;
}

.header{
    display: grid;
    grid-template-columns: 25% 1fr;
    height: 150px;
    align-items: center;
    background-color: #6a8eae;
    border-radius: 10px;
}

.main-photo{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60%;
    justify-self: center;
}

.my-name{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
}

.sub-title{
    border-bottom: solid 1px black;
}

ul li{
    margin: 8px;
}

.paragraph{
    border-top: solid 1px black;
}

.home-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a8eae;
    border-radius: 10px;
    height: 45px;
}